<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SNT2_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SNT2_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SqlConnection" connectionString="Data Source=ASUTP-RADKEVICH;Initial Catalog=snt_Counter;Integrated Security=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="pathConfig" value="Resources\Config.ini" />
    <add key="pathLogInfo" value="Logs\Information\" />
    <add key="pathLogData" value="Logs\Data\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <SNT2_WPF.Properties.Settings>
      <setting name="SelectedDefaultStyle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="logData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="logInfo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="logHex" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pathStyleIsChecked" serializeAs="String">
        <value>..\..\Styles\ResourcesDictionary\DefaultStyleMode.xaml</value>
      </setting>
      <setting name="boolSelected_DefaultStyle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="boolSelected_DarkStyle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LimitErrorCom" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PortName" serializeAs="String">
        <value>COM3</value>
      </setting>
      <setting name="BaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="Parity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="StopBits" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="DataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="TimeOutRead" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="NumberCounter" serializeAs="String">
        <value>1119</value>
      </setting>
    </SNT2_WPF.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <SNT2_WPF.Properties.Settings>
      <setting name="PathDefaultStyle" serializeAs="String">
        <value>..\..\Styles\ResourcesDictionary\DefaultStyleMode.xaml</value>
      </setting>
      <setting name="PathDarkStyle" serializeAs="String">
        <value>..\..\Styles\ResourcesDictionary\DarkStyleMode.xaml</value>
      </setting>
    </SNT2_WPF.Properties.Settings>
  </applicationSettings>
</configuration>